/* header.component.css */
.spacer {
    flex: 1 1 auto;
  }

.body-style {
    background-color: rgb(223, 245, 233);
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    height: 150%;
}
  