
.body-style {
    background-color: rgb(223, 245, 233);
    height: 200%;
    width: 100%;
    top: 0%;
    position: absolute;
    height: 150%;
    padding-bottom: 20%;
}

.elem {
    margin-top: 2%;
    margin-bottom: 1%;
}